{% extends 'includes/base.html' %}
{% load static %}
{% block title %}AllResults{% endblock %}
{% block content %}
    <div class='container'>
        {% if err %}
            <p style='background-color:red; color:white; text-align:center;'>
                {{ err }}
            </p>
        {% endif %}
        <h3 style='text-align:center;'>Results for all questions with select options</h3>
        <hr/>
        <br>
            <div id ='tab' class='table-responsive text-nowrap' style='height:400px;'>
                <table class="table table-striped"style="font-size: 10px; border:1px"
                       style='overflow-x:scroll;
                              overflow-y:scroll;' id='export'>
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in data %}
                        <tr height="2px">
                            {% for j in columns %}
                                {% load get_data %}
                                <td>{{ i|get_data:j }}</td>
                            {% endfor %}
                        </tr>
                        
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% comment %} {% endif %} {% endcomment %}
    {% endblock %}
    {% block javascript %}{% endblock %}
