{% extends 'includes/base.html' %}
{% load static %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <div class='container'>
        {% if err %}
            <p style='background-color:red; color:white; text-align:center;'>
                {{ err }}
            </p>
        {% endif %}
        <h2 style='text-align:center;'>Select the Survey to Get Results</h2>
        <hr/>
        <div class="container forget-password">
            <div class="row">
                <div class="col-md-12 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <form id="register-form"
                                      role="form"
                                      autocomplete="off"
                                      class="form"
                                      method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group col-sm-8">
                                            <label style='padding-right:10px;'>Select the name of suvey</label>
                                            <select class="form-control" id="sel1" name='title'>
                                                {% for i in questionnaire_list %}
                                                    <option>
                                                        {{i}}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <br/>
                                        <div class="input-group col-sm-8">
                                            <label style='padding-right:10px;'>Enter the version number</label>
                                            <input type='number' name = 'version' min='1' required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input name="btnForget" class="btn btn-danger" value="submit" type="submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block javascript %}{% endblock %}
